.footer {
  background-color: #030b14;
  color: white;
  text-align: center;
  padding: 15px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
