.footer {
  background-color: #030b14;
  color: white;
  text-align: center;
  padding: 0px 15px 0px 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-links {
  margin-top: 10px;
  padding: 0px 0px 10px 0px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 5 10 0px;
}

.footer-links a:hover {
  text-decoration: underline;
}
